@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');

$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);
$breakpoint-desktop: 1440px;

.App {
  text-align: center;
  font-family: 'Manrope', sans-serif;
  height: 100vh;
  width: 100%;
  background-color: $dark-blue;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 30%;
  

  p {
    font-size: 28px;
    padding: 20px;
  }

  small {
    text-transform: uppercase;
    font-weight: 300;
    color: $neon-green;
    letter-spacing: 0.25rem;
  }

  .quote-container {
    height: 40%;
    width: 90%;
    background-color: $dark-grayish-blue;
    color: $light-cyan;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    padding: 30px;
  }

  .dice {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: $neon-green;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -30px;
    
  }

  .cube {
    &:hover {
        /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
      }
  }

  button {
    border: 1px solid $neon-green;
    cursor: pointer;
    &:hover {
      -webkit-box-shadow: 2px 2px 32px 19px rgba(0,255,128,0.5); 
      box-shadow: 2px 2px 32px 19px rgba(0,255,128,0.5);
    }
    &:active{
      transform: scale(0.8);
    }
  }
  
  .divider {
    width: 90%;
  }
}

// Desktop
 @media (min-width: $breakpoint-desktop) {
    .App {
      align-items: center;
      padding-top: 0;
      .quote-container {
        width: 40%;
       }
    }
  }


  @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}